/* Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
  
  
/*  Fuente general para todas las paginas */
body {
background-color: gray;            /* Fondo gris oscuro */
line-height: 1.6;                     /* Espaciado entre lineas */
}
  
  
  /* ============================== */
  /*              Header            */
  /* ============================== */
  



header {
  background-image: url("https://img.freepik.com/fotos-premium/accesorios-plomeria-piezas-tuberia-conector-laton-valvula-agua-tuberia_263512-1642.jpg");
  background-size: 75%;
  background-position: center;
  background-color: #00000080; /* negro con opacidad */
  color: #ffa64d; /* reemplazo del hsl(26, 64%, 55%) */
  text-align: center;
  padding: 40px 20px;
  font-size: 1.5em;
  font-family: "Share Tech", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  text-shadow: 3px 3px 3px #000000b3; /* sombra más simple en hex */
}

  

  
  /* ============================== */
  /*              Main              */
  /* ============================== */

  
  /* Titulo de seccion*/
    .h2 {
    color: rgba(0, 0, 0, 0.699);
    font-size: 1.6rem;
    margin-bottom: 30px;
    font-family: sans-serif;
    text-align:center; 
    text-decoration: underline;
    margin-left: 15px               /* Centra titulos */
  }
  
  /* Parrafo de seccion */
    .h3 {
    color: rgba(0, 0, 0, 0.699);
    font-size: 1.6rem;
    margin-bottom: 30px;
    font-family: s;
    margin-left: 30px               /* Centra titulos */
  }

  ul {
  margin-left: 40px;
  padding-left: 40px;
}

  
    button {
    background-color: #595553;
    color: #fff;
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 4px;
    margin-left: 10px 
    
  }

    button:hover {
    background-color: #e0a400;
    
  }

.boton-contenedor {
  position: relative;
  display: inline-block;
  margin: absolute;
}

.imagen-hover {
  position: absolute;
  top: 0%;             /* Justo debajo del botón */
  left: 100%;
  display: none;
  background: rgba(255, 255, 255, 0.252);
  padding: 10px;
  border: 4px solid #ccc;
  z-index: 100;
}

.boton-hover:hover + .imagen-hover {
  display: block;
}